[submodule "cmake/light_presets"]
	path = cmake/light_presets
	url = https://github.com/lightsource-nz/light_presets.git
[submodule "cmake/sanitizers"]
	path = cmake/sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "lib/cmsis_device_f4"]
	path = lib/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
	shallow = true
[submodule "lib/CMSIS_6"]
	path = lib/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
	shallow = true
